h3 {
   color: #f2f2f2;
   background-color:#00c7ae;
   font-size: 200%;
   text-align:center;
}
#container {
align:center;
padding-top:0,5%;
margin:auto;
width: 100%;
font-size: 150%;
}


.caja{
margin-top:2%;
margin-bottom:2%;
padding:0px;
color: #e4e4e4;
font-size: 20px;
width: 300px;
display: block;
border: 2px solid #00c7ae;
border-radius:8px;
outline:none;
background-color:rgba(62,62,62,0.85);
overflow: hidden;
height:40px;
}

.caja:focus {
background-color:rgba(132,221,209,0.4);
}

::placeholder{
color:#d6d6d6;
}
input:focus::placeholder{
color:#3e3e3e;
}



input[type=submit]{
text-align:center;
margin-top:3%;
height:40px;
width:110px;
font-size:100%;
color:#4d4d4d;
border:double;
border-color:#4d4d4d;
border-radius:8px;
background-color:rgba(153,153,153, 0.85);
}

input[type=submit]:hover{
margin-top:3%;
height:40px;
width:110px;
font-size:100%;
color:#4d4d4d;
border:double;
border-color:#4d4d4d;
border-radius:8px;
background-color:rgba(0,199,174, 0.85);
}
.tabla{
padding:2%;}

table{
margin:auto;
background-color:#5cbfb3;
}


table, th, td {
overflow:auto;
  border: 1px solid  #ddd;
  border-collapse:collapse;
  overflow-x: auto;
}

th{
background-color:#1d1d1d;
color: #f2f2f2;
height: 30px;}

td{
height: 50px;

}
th, td{
padding: 10px;
border-bottom:1px solid #ddd;}
tr:nth-child(even)
{background-color:#bad9d4;
}

.precio{
text-align:center;
font-weight:bold;}


ul > li{
display: inline-block;
vertical-align:middle;

}

#buscar{
display: inline-block;
vertical-align:middle;

}

ul{
display: inline-block;
vertical-align:middle;


}

#insertar_campos{
display:flex;
justify-content: space-between;
padding-right:50px;
background-color: #1d1d1d;

}

.caja-precio{
margin-top:2%;
margin-bottom:2%;
padding:0px;
color: #e4e4e4;
font-size: 20px;
width: 170px;
display: block;
border: 2px solid #00c7ae;
border-radius:8px;
outline:none;
background-color:rgba(62,62,62,0.85);
overflow: hidden;
height:40px;
}

.caja-precio:focus {
background-color:rgba(132,221,209,0.4);
}
label{
color: #f2f2f2;
}

#titulo_precio
{
color: #f2f2f2;
padding-left:50px;
font-size:110%;
}