<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/barra_principal.css">
    <link rel="stylesheet" type="text/css" href="../static/css/borrar_cuenta.css">
    <link rel="stylesheet" type="text/css" href="../static/css/class_error.css">
    <title>Listas Inteligentes | Borrar cuenta</title>
  </head>
  <body>
<div class="barra_principal">
        <div class="dropdown">
            <button class="dropbutton">Listas
            </button>
            <div class="dropdown-content">
              <a href="/nueva_lista">Crear lista</a>
              <a href="/mis_listas">Mis listas</a>
            </div>
          </div>
        <div class="dropdown">
            <button class="dropbutton">Recetas
            </button>
            <div class="dropdown-content">
              <a href="/nueva_receta">Crear receta</a>
              <a href="/mis_recetas">Mis recetas</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbutton">Precios
            </button>
            <div class="dropdown-content">
              <a href="/productos">Productos</a>
              <a href="/registros">Registrar precio</a>
            </div>
        </div>
        <div id= "dropdown-right" class="dropdown">
            <button id="active" class="dropbutton">Ajustes
            </button>
            <div class="dropdown-content">
              <a href="/ajustes">Ajustes</a>
              <a href="/logout">Cerrar sesión</a>
            </div>
            <div class="dropdown">
        {% if nombre_session %}
         <button id="nombre" class="dropbutton">{{nombre_session}}</button>
        {% endif %}
    </div>
        </div>

</div>
 {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}

<h3>
    <p>Modificar datos</p>
</h3>

<p id="subtitulo"><strong>Borrar cuenta</strong></p>
  <div id="container">
      {% if error %}
         <p id="error"><strong>Error</strong>: {{error}}</p>
      {% endif %}
     <h4 class="modificacion_datos">
         <form action="borrar_cuenta" method="post" name="borrar_cuenta">
        <label for="passwd">
            Contraseña Actual
        </label>
        <input class="caja" id="passwd" name="passwd" required="true" placeholder="Ingresa tu contraseña" type="password" value=""/>
        </br>
        <input class="botonera" id="borrar_cuenta_submit" name="borrar_cuenta_submit" type="submit" value="Deseo borrar mi cuenta"/>
     </form>
 </h4>
  </div>

</body>
