<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/class_error.css">
    <link rel="stylesheet" type="text/css" href="../static/css/flash_msg.css">

    <title>Listas Inteligentes | Log-in</title>
  </head>
  <body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p id="flash">{{ message }}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}


  <h1>
    <p>Inicia sesión!</p>
  </h1>

  <div id="container">
      {% if error %}
         <p id="error"><strong>Error</strong>: {{error}}</p>
      {% endif %}
    <h2 class="formulario_ingreso">
      <form action="login" method="post" name="login">
        <label for="nombre_usuario">
            Nombre de Usuario
        </label>
        <input class="caja" id="nombre_usuario" name="nombre_usuario" required="true" placeholder="Ingresa tu nombre de usuario" type="text" value=""/>
        <label for="passwd">
            Contraseña
        </label>
        <input class="caja" id="passwd" name="passwd" required="true" placeholder="Ingresa tu contraseña" type="password" value=""/>
           <div id="boton">
            <input id="login_submit" name="login_submit" type="submit" value="Entrar"/>
          </div>


     </form>
         <a href="signup">
        <input id="ir_registro" name="ir_registro" type="submit" value="Si no tienes cuenta, regístrate"/>
         </a>
    </h2>
  </div>

  </body>
</html>